<section>
    <div  class="row">
        <div  class="col-md-8 col-md-offset-2 ">
            <h1 id="blue">What do you like?</h1>
            <p id="bold">Choose what suits you best during your holiday</p>
        </div>
    </div>

    <div id="placeholder" class="row">
        <div  class="col-md-10 col-md-offset-1 ">
            <header ng-include="'/modules/core/client/views/menu.client.view.html'"></header>
        </div>
    </div>

    <div id="bg" class="row">
        <div  class="col-md-8 col-md-offset-2 ">
            <h1 id="blue">What do you like?</h1>
            <p id="bold">Choose what suits you best during your holiday</p>
        </div>
    </div>

    <div id="bg" class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="column">
                <div class="fields-slider">
                    <div class="fields-lable"></div>
                    <div class="fields-slider"></div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="footer-menu">
        <div  class="row">
            <div class="col-md-2 col-xs-3"><a ui-sref="theme" class="btn btn-success btn-lg pull-right ">
                <i class="fa fa-arrow-circle-left fa-lg" aria-hidden="true"></i> Previous</a>
            </div>
            <div class="col-md-8 col-xs-6">
                <p class="light blue"><i class="fa fa-lightbulb-o fa-lg" aria-hidden="true"></i>
                    Some trigger text to motivate to continue</p>
            </div>
            <div class="col-md-2 col-xs-3">
                <a ui-sref="where" class="btn btn-success btn-lg pull-right ">Next
                    <i class="fa fa-arrow-circle-right fa-lg" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</section>
