<section>
    <div class="row content">
        <div class="col-md-6 ">
            <h1 class="Montserrat"> Vind de reis die bij je past, zonder zelf te zoeken.</h1>
            <div class="space">
                <p class="Raleway">Share your holiday preferations and receive proposals of several travel agencies.</p>
            </div>
            <div class="space">
                <p class="Raleway"><i class="fa fa-check" aria-hidden="true"></i> Easy & inspiring</p>
                <p class="Raleway"><i class="fa fa-check" aria-hidden="true"></i> Also if you don't know the distination</p>
                <p class="Raleway"><i class="fa fa-check" aria-hidden="true"></i> A personal Holiday</p>
            </div>
            <div class="space">
                <a ui-sref="theme" id="mon" class="btn btn-primary"><p class="Montserrat-button">Start now    <i class="fa fa-arrow-right " aria-hidden="true"></i></p></a>
            </div>
        </div>
        <div class="col-md-6">
            <img  class="img-thumbnail" src="http://placehold.it/450x600">
        </div>
    </div>
</section>
