<div class="container"   ng-controller="HeaderController">
<ul class="header-menu">
    <li ><a  ui-sref="theme" ui-sref-active="ablue" ><span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i  class="fa fa-star fa-stack-1x fa-inverse"></i>
</span>
    </a></li>
    <li ><a ui-sref="preferrences" ui-sref-active="ablue"><span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-sliders fa-stack-1x fa-inverse"></i>
</span></a></li>
    <li ><a ui-sref="where" ui-sref-active="ablue"><span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
</span></a></li>
    <li ><a ui-sref="when" ui-sref-active="ablue"><span  class="fa-stack fa-lg">
  <i  class="fa fa-circle fa-stack-2x"></i>
  <i  class="fa fa-calendar-o fa-stack-1x fa-inverse"></i>
</span></a></li>
    <li ><a ui-sref="budget" ui-sref-active="ablue"><span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-eur fa-stack-1x fa-inverse"></i>
</span></a></li>
    <li ><a ui-sref="overview" ui-sref-active="ablue"><span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-check fa-stack-1x fa-inverse"></i>
</span></a></li>
</ul>
</div>