<section >
    <div class="row">
        <div  class="col-md-8 col-md-offset-2 ">
            <h1 id="blue"> Theme</h1>
            <p id="bold">Choose your theme(s) of your holiday</p>
        </div>
    </div>

    <div id="placeholder" class="row">
        <div  class="col-md-10 col-md-offset-1 ">
            <header ng-include="'/modules/core/client/views/menu.client.view.html'"></header>
        </div>
    </div>
    <div id="bg" class="row" >
        <div id="padding" class="col-md-8 col-md-offset-2 col-sm-offset-1 col-xs-offset-1 col-sm-11 col-xs-11">
            <uib-progressbar max="max" value="dynamic"><span style="color:white; white-space:nowrap;">{{dynamic}} / {{max}}</span></uib-progressbar>
            <div ng-click="progress()" class="holyday-item"><div  class="img"><img  class="img-thumbnail" src="http://placehold.it/150x150"><span class="holiday-icon"><i class=""></i></span><span class="holiday-name"> Beach</span></div></div>
            <div ng-click="progress()" class="holyday-item"><div class="img"><img  class="img-thumbnail" src="http://placehold.it/150x150"><span class="holiday-icon"><i class=""></i></span><span class="holiday-name">Citytrip</span></div></div>
            <div ng-click="progress()" class="holyday-item"><div class="img"><img  class="img-thumbnail" src="http://placehold.it/150x150"><span class="holiday-icon"><i class=""></i></span><span class="holiday-name">Cruise</span></div></div>
            <div ng-click="progress()" class="holyday-item"><div class="img"><img  class="img-thumbnail" src="http://placehold.it/150x150"><span class="holiday-icon"><i class=""></i></span><span class="holiday-name">Cycling</span></div></div>
            <div ng-click="progress()" class="holyday-item"><div class="img"><img  class="img-thumbnail" src="http://placehold.it/150x150"><span class="holiday-icon"><i class=""></i></span><span class="holiday-name">Diving</span></div></div>
            <div ng-click="progress()" class="holyday-item"><div class="img"><img  class="img-thumbnail" src="http://placehold.it/150x150"><span class="holiday-icon"><i class=""></i></span><span class="holiday-name">Food & Drinking</span></div></div>
            <div ng-click="progress()" class="holyday-item"><div class="img"><img  class="img-thumbnail" src="http://placehold.it/150x150"><span class="holiday-icon"><i class=""></i></span><span class="holiday-name">Motobiking</span></div></div>
            <div ng-click="progress()" class="holyday-item"><div class="img"><img  class="img-thumbnail" src="http://placehold.it/150x150"><span class="holiday-icon"><i class=""></i></span><span class="holiday-name">Surfing</span></div></div>
            <div ng-click="progress()" class="holyday-item"><div class="img"><img  class="img-thumbnail" src="http://placehold.it/150x150"><span class="holiday-icon"><i class=""></i></span><span class="holiday-name">Walking</span></div></div>
            <div ng-click="progress()" class="holyday-item"><div class="img"><img  class="img-thumbnail" src="http://placehold.it/150x150"><span class="holiday-icon"><i class=""></i></span><span class="holiday-name">Surfing</span></div></div>
            <div ng-click="progress()" class="holyday-item"><div class="img"><img  class="img-thumbnail" src="http://placehold.it/150x150"><span class="holiday-icon"><i class=""></i></span><span class="holiday-name">Wedding</span></div></div>
            <div ng-click="progress()" class="holyday-item"><div class="img"><img  class="img-thumbnail" src="http://placehold.it/150x150"><span class="holiday-icon"><i class=""></i></span><span class="holiday-name">Winter</span></div></div>
            <div ng-click="progress()" class="holyday-item"><div class="img"><img  class="img-thumbnail" src="http://placehold.it/150x150"><span class="holiday-icon"><i class=""></i></span><span class="holiday-name">Sailing</span></div></div>
            <div ng-click="progress()" class="holyday-item"><div class="img"><img  class="img-thumbnail" src="http://placehold.it/150x150"><span class="holiday-icon"><i class=""></i></span><span class="holiday-name">Placeholder</span></div></div>
            <div ng-click="progress()" class="holyday-item"><div class="img"><img  class="img-thumbnail" src="http://placehold.it/150x150"><span class="holiday-icon"><i class=""></i></span><span class="holiday-name">Placeholder</span></div></div>
            <div ng-click="progress()" class="holyday-item"><div class="img"><img  class="img-thumbnail" src="http://placehold.it/150x150"><span class="holiday-icon"><i class=""></i></span><span class="holiday-name">Placeholder</span></div></div>

        </div>
    </div>

    <div class="footer-menu">
        <div  class="row">
            <div class="col-md-2 col-xs-3"><a href="/" class="btn btn-success btn-lg pull-right ">
                <i class="fa fa-arrow-circle-left fa-lg" aria-hidden="true"></i> Back to Home</a>
            </div>
            <div class="col-md-8 col-xs-6">
                <p class="light blue"><i class="fa fa-lightbulb-o fa-lg" aria-hidden="true"></i>
                    Notification about that it can always be changed, agent will check possibilities</p>
            </div>
            <div class="col-md-2 col-xs-3">
                <a ui-sref="preferrences" class="btn btn-success btn-lg pull-right ">Next
                    <i class="fa fa-arrow-circle-right fa-lg" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>

</section>
