<section>
    <div class="row">
        <div  class="col-md-8 col-md-offset-2 ">
            <h1 id="blue">Budget</h1>
            <p id="bold">Vertel iets meer  over  het budget, vevoer en verblijjf</p>
        </div>
    </div>

    <div id="placeholder" class="row">
        <div  class="col-md-10 col-md-offset-1 ">
            <header ng-include="'/modules/core/client/views/menu.client.view.html'"></header>
        </div>
    </div>

    <div id="bg" class="row">
        <div  class="col-md-8 col-md-offset-2 ">
            <h1 id="blue">Budget</h1>
            <p id="bold">Vertel iets meer  over  het budget, vevoer en verblijjf</p>
        </div>
    </div>


    <div class="footer-menu">
        <div  class="row">
            <div class="col-md-2 col-xs-3"><a ui-sref="when" class="btn btn-success btn-lg pull-right ">
                <i class="fa fa-arrow-circle-left fa-lg" aria-hidden="true"></i> Previous</a>
            </div>
            <div class="col-md-8 col-xs-6">
                <p class="light blue"><i class="fa fa-lightbulb-o fa-lg" aria-hidden="true"></i>
                    Some trigger text to motivate to continue</p>
            </div>
            <div class="col-md-2 col-xs-3">
                <a ui-sref='overview' class="btn btn-success btn-lg pull-right ">Next
                    <i class="fa fa-arrow-circle-right fa-lg" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</section>
