@import'animations.css';
@import'inputs.css';


/*Core CSS*/

.content {
    margin-top: 70px;
}
.undecorated-link:hover {
    text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}
.header-profile-image {
    border-radius: 50%;
    height: 28px;
    margin-right: 5px;
    opacity: 0.8;
    width: 28px;
}
.open .header-profile-image,
a:hover .header-profile-image {
    opacity: 1;
}
.user-header-dropdown-toggle {
    padding-bottom: 11px !important;
    padding-top: 11px !important;
}
.user-primary-account {
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.error-text {
    display: none;
}
.has-error .help-block.error-text {
    display: block;
}
.has-error .help-inline.error-text {
    display: inline;
}

/*Custom CSS*/
*{
    transition:all .1s;
}
body {
    margin:70px 0 0 0;
    padding:0;
    border:0;
}

.selected{
    border: solid 3px #449D44 !important;
}
.img-thumbnail > i{
    color:#449D44 !important;
}
.row.well {
    padding : 0 !important;
}
a.show-signup{
    color:#68B5D6 !important;
}
.button,
.rerun-button {
  padding: 10px 20px;
  border-radius: 5px;
  background: #00A79A;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  cursor: pointer;
 
}
.button:hover,
.rerun-button:hover {
    box-shadow: 5px 0 5px -5px black,
                inset 0 0 20px rgba(0,0,0,.1);
                
  background: #00A77C;
}
.button.rerun-button,
.rerun-button.rerun-button {
  border: 1px solid rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.2);
  display: none;
}
.error-text, .show-signup{
    color:#00A79A !important;
}
.Raleway{
    color: #555555  !important;
    font-family: 'Raleway', sans-serif !important;
    font-size: 15pt;
}

h1, h2, h3, h4, h5, h6, p{

    color: #555555  !important;
    font-family: 'Montserrat', sans-serif !important;
}
#padding{
    padding-top: 30px;
}
.padding-bottom{
    padding-bottom: 30px;
}
#placeholder{
    margin: 25px 0 -36px 0;
}
.header-menu{
   
    list-style: none;
}
.header-menu li{
    padding: 0 25px 0 40px;
    vertical-align: text-top;
    display: inline !important;
}
.header-menu li:first-child{
    padding: 0 25px 0 80px;
    vertical-align: text-top;
    display: inline !important;
}

.header-menu>li>a>span>i:first-child{
    color: #449D44 ;
}
.header-menu>li>a>span>i:last-child{
    color: #fff !important;
}
.header-menu > li:hover > a > span > i:first-child{
    color: #FEDE02 !important;
}
.img-thumbnail{
    
    padding : 10px;
}

.holyday-item{
    position: relative;
    display : inline-block!important;
    box-sizing: border-box;
    width : 170px;
    height: 190px;
    margin: 5px;
    cursor: pointer;
}
.holiday-name .new{
    display : block;
    position: absolute;
    bottom : 3%;
    text-align: center !important;
    width: 100% !important;
    color: #449D44 !important;
    padding-right: 20px;
}

p{
    padding: 0;
    margin : 0;
}
.holiday-name.new #fa1{
    text-shadow: 1px 1px 1px #ccc;
    
}
.holiday-name.new span:first-child {
    
    display : block;
    position: absolute;
    bottom : 18%;
    margin-bottom: 13%;
    text-align: center !important;
    width: 100% !important;
    color: #449D44 !important;

}
.holiday-name.new span:last-child {
    display : block;
    position: absolute;
    bottom : 18%;
    margin-bottom: 13%;
    text-align: center !important;
    width: 100% !important;
    color: #fff !important;
}
.holiday-name.new span {
    right: 0;
}

.holiday-name.new {
    bottom : 17%;
}

.holiday-name {
    display : block;
    position: absolute;
    bottom : 1%;
    text-align: center !important;
    width: 100% !important;
    padding-right: 20px;
}

.holiday-name.new p{
    display : block;
    position: absolute;
    bottom : 3%;
    text-align: center !important;
    width: 100% !important;
    color: #449D44 !important;
    
}
.holiday-name p{
    display : block;
    position: absolute;
    bottom : 3%;
    text-align: center !important;
    width: 100% !important;
    color: #307091 !important;
}

.Montserrat{
    color: #307091  !important;
    font-size: 40pt;
    font-family: 'Montserrat', sans-serif !important;
}
.Montserrat-button{
    padding: 3px 10px 3px 10px;
    color: #fff  !important;
    font-size: 20pt;
    font-family: 'Montserrat', sans-serif !important;
}
#mon{
    background:#778B6F ;
    border-color:#778B6F ;
    border-radius: 40px !important;
    height: 60px;
    width: 250px;
}
#mon:hover{
    background:#779A5F ;
    border-color:#779A5F ;
}
.space{
    padding: 10px 0 10px 0;
}
.space>p>i{
    color:#307091;
}
.btn.btn-success{
    font-size: 13pt;
    font-family: 'Montserrat', sans-serif !important;
    color:#fff !important;
}
.nav.navbar-nav li a{
    font-size: 10pt;
}
a{
    /*color:#68B5D6 !important;*/
    cursor: pointer;
    font-size: 12pt;
    font-family: 'Montserrat', sans-serif !important;
    text-decoration: none !important;
}
a:hover{
    color:#307051 !important;
}
a.active{
    color:#307091 !important;
}
#blue{
    font-weight: bold !important;
    font-size: 38px !important;
    color: #FEDE02 !important;
}
.Where{
    padding: 0 20px 0 20px;
    font-size: 1.3em;

}

#border{
    border-bottom: dotted 3px #68B5D6;
    padding-bottom: 20px;
}
.date{
    cursor: pointer;
}
.col-md-5 li{
    border-bottom: solid rgba(55,55,55,0.5) 5px;
    padding-bottom: 4px;
    cursor: pointer;

}
.col-md-5 li.active{
    border-bottom: solid #449D44 5px;
    color:#449D44;

}
.nav.navbar-nav>li.active>a{
    color:#449D44 !important;
}
.col-md-5.white{
    height:400px;
    background: white;
    border-radius: 15px;
}
.light{
    color:#23527C !important;
    padding: 10px;
}
.light.blue{
    color:#449D44 !important;
}

.ablue > span > i:first-child{
    color:#FEDE02 !important;
}
.title{
    padding:10px 0 10px 0;
    margin: 10px 0 10px 0;
}
.input-group{
    margin: 8px;
}
.footer-menu{
    margin: 15px;
}
.btn-field .btn-success{
    margin: 10px;
    height: 60px;
    background: #d9d9d9;
    color: #555555  !important;
    border-color: #555555;
    font-size: 11pt;
    font-family: 'Montserrat', sans-serif !important;

}
.btn-field  .btn-success:hover{
    height: 60px;
    background: #fff;
    border-color: #449D44 !important;
    font-size: 12pt;
    font-family: 'Montserrat', sans-serif !important;
    color: #449D44 !important;
}
.button-destination  .btn-success{
    height: 45px;
    margin: 10px;
    background: #d9d9d9;
    color: #555555  !important;
    border-color: #555555;
    font-size: 9pt;
    font-family: 'Montserrat', sans-serif !important;
}
.button-destination  .btn-success:hover > i{

    color:#FEDE02 !important;

}

.button-destination  .btn-success:hover{
    height: 45px;
    margin: 10px;
    background: #fff;

    font-size: 9pt;
    font-family: 'Montserrat', sans-serif !important;
}
.button-destination{
    display: inline-block;
    width: 160px;

}
.field-input{
    width: 400px !important;
    height: 45px !important;
    background:  #d9d9d9;
    border: none;
    display: inline !important;
    padding: 5px 0 5px 30px;
}
.field-input:hover{
    width: 400px !important;
    height: 45px !important;
    background: #fff;
    border-color: #449D44!important;
    border: none;
    display: inline !important;
    padding: 5px 0 5px 30px;
}






/*@Media*/



/*Super Large*/
@media(min-width:1200px){
    .header-menu li{
    padding: 0 25px 0 40px;
    }
    .header-menu li:first-child{
        padding: 0 25px 0 80px;
    }
}

/*large*/
@media(min-width:992px) and (max-width: 1199px){
    .header-menu li {
        padding: 0 10px 0 35px;
    }

    .header-menu li:first-child {
        padding: 0 22px 0 22px;
    }
}

/*Medium*/
@media(min-width:768px) and (max-width: 991px){
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    #padding{
        padding-top:55px;
    }
    .header-menu {
        margin:10px 0 15px 0;
    }

     .header-menu li{
        padding: 0 20px 0 20px;
    }
    .header-menu li:first-child{
        padding: 0 20px 0 20px;
    }
}

/*Small*/
@media(max-width:767px) and (min-width: 635px){
   #padding{
        padding-top:55px;
    }
    .header-menu {
        margin:10px 0 15px 0;
    }

     .header-menu li{
        padding: 0 15px 0 15px;
    }
    .header-menu li:first-child{
        padding: 0 15px 0 40px;
    }
}

/*Large Phone*/
@media (max-width:634px) and (min-width:536px){
     #padding{
        padding-top:55px;
        padding-left:30px;
    }
    .holyday-item{
        margin:5px 30px 5px 20px;
    }
    .header-menu {
        margin:10px 0 15px 0;
    }

     .header-menu li{
        padding: 0 10px 0 10px;
    }
    .header-menu li:first-child{
        padding: 0 10px 0 0;
    }
}

/*Medium Phone*/
@media (max-width:536px) and (min-width:493px){
    #padding{
        padding-top:55px;
        padding-left:30px;
    }
    .holyday-item{
        margin:5px 15px 5px 15px;
    }
    .header-menu {
        margin:10px 0 15px 0;
    }

     .header-menu li{
        padding: 0 5px 0 5px;
    }
    .header-menu li:first-child{
        padding: 0 5px 0 10px;
    }
}

/*Small Phone*/
@media (max-width:492px) and (min-width:441px){
    .btn.btn-success{
        font-size:11pt;
    } 
    #padding{
        padding-top:55px;
        
    }
    .holyday-item{
        margin:5px;
    }
    .header-menu {
        margin:5px 0 15px 0;
    }

     .header-menu li{
        padding: 5px 0 5px 0;
    }
    .header-menu li:first-child{
        padding: 0 5px 0 0; 
    }
}

/*Extrasmall Phone*/
@media (max-width: 440px) { 
    .btn.btn-success{
        font-size:10pt;
    } 
     .header-menu {
        display: none;
    
    }
    .holyday-item{
        width:150px;
    }
    #bold{
        margin:0 0 35px 0;

    }

}
